body {
  color: navy;
  font-family: arial, helvetica, serif;
  font-weight: 300;
  font-size: 14px;
}

h1 {
  color: yellow;
  background-color: blue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

h2 {
  border-style: dashed;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: red;
  font-size: 1.5em;
  background-color: #ccc;
  margin: 20px;
  padding: 40px;
}

a {
  text-decoration: underline;
}

strong {
  font-style: italic;
  text-transform: uppercase;
}

p, li {
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    line-height: 1.5;
    text-align: justify;
}